<a href="https://colab.research.google.com/github/AbdulSheffa/Spam-email/blob/main/CW_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import csv

In [3]:
dataset = pd.read_csv('spambase.data')

In [ ]:
dataset

**Inserting the column names for the data set as per the instructions **

---

In [9]:
dataset.columns = ['word_freq_make','word_freq_address','word_freq_all','word_freq_3d','word_freq_our','word_freq_over','word_freq_remove','word_freq_internet','word_freq_order','word_freq_mail','word_freq_receive','word_freq_will','word_freq_people','word_freq_report','word_freq_addresses','word_freq_free','word_freq_business','word_freq_email','word_freq_you','word_freq_credit','word_freq_your','word_freq_font','word_freq_000','word_freq_money','word_freq_hp','word_freq_hpl','word_freq_george','word_freq_650','word_freq_lab','word_freq_labs','word_freq_telnet','word_freq_857','word_freq_data','word_freq_415','word_freq_85','word_freq_technology','word_freq_1999','word_freq_parts','word_freq_pm','word_freq_direct','word_freq_cs','word_freq_meeting','word_freq_original','word_freq_project','word_freq_re','word_freq_edu','word_freq_table','word_freq_conference','char_freq_;','char_freq_(','char_freq_[','char_freq_!','char_freq_$','char_freq_#','capital_run_length_average','capital_run_length_longest','capital_run_length_total','class']
dataset
# dataset.to_csv('newSet.data',header=columnNames,index=False)

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [ ]:
dataset.head()

In [11]:
drop_duplicate_value = dataset.drop_duplicates()
drop_duplicate_value

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [12]:
drop_null_value = drop_duplicate_value.dropna()
drop_null_value

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [13]:
drop_null_value.shape

(4209, 58)

In [14]:
cleaned_data_set = drop_null_value
cleaned_data_set

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [15]:
remove_class_column = cleaned_data_set.drop(columns=['class'])

In [16]:
remove_class_column.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,word_freq_conference,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.0,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54

In [17]:
class_column = cleaned_data_set['class'].values

class_column[0:5]

array([1, 1, 1, 1, 1])

In [18]:
x_train, x_test, y_train, y_test = train_test_split(remove_class_column,class_column, test_size=0.2, random_state=42)
print(f"X Training: {x_train}\n X Test: {x_test}\n Y Train: {y_train}\n Y Test: {y_test}")

X Training:       word_freq_make  word_freq_address  word_freq_all  word_freq_3d  \
1080            0.00               0.00           0.44           0.0
1977            0.20               0.00           0.10           0.0
4173            0.00               0.00           0.00           0.0
166             0.00               0.71           0.35           0.0
1682            0.14               0.00           0.29           0.0
...              ...                ...            ...           ...
3815            0.00               0.00           0.00           0.0
510             0.00               0.43           0.87           0.0
3343            0.00               0.00           0.00           0.0
4153            0.00               0.00           0.55           0.0
919             0.00               0.00           0.32           0.0

      word_freq_our  word_freq_over  word_freq_remove  word_freq_internet  \
1080           0.22            0.22              0.00                0.00
1977           0.00            0.00              0.00                0.10
4173           0.00            0.00              0.00                0.00
166            0.35            0.00              0.00                0.00
1682           0.14            0.00              0.00                0.00
...             ...             ...               ...                 ...
3815           0.00            0.00              0.00                0.83
510            0.00            0.00              0.00                0.00
3343           0.00            0.00              0.00                0.00
4153           0.00            0.00              0.00                0.00
919            0.64            0.64              0.32                0.64

      word_freq_order  word_freq_mail  ...  word_freq_conference  char_freq_;  \
1080             0.66            0.44  ...                   0.0        0.065
1977             0.00            0.00  ...                   0.0        0.092
4173             0.00            0.00  ...                   0.0        0.000
166              0.00            0.00  ...                   0.0        0.000
1682             0.00            0.00  ...                   0.0        0.050
...               ...             ...  ...                   ...          ...
3815             0.00            0.00  ...                   0.0        0.000
510              0.43            0.43  ...                   0.0        0.075
3343             0.00            0.00  ...                   0.0        0.147
4153             0.00            0.00  ...                   0.0        0.000
919              0.00            0.00  ...                   0.0        0.000

      char_freq_(  char_freq_[  char_freq_!  char_freq_$  char_freq_#  \
1080        0.261        0.000        0.130        0.196          0.0
1977        0.079        0.000        0.000        0.013          0.0
4173        0.000        0.000        0.471        0.000          0.0
166         0.058        0.000        0.700        0.000          0.0
1682        0.382        0.000        0.764        0.000          0.0
...           ...          ...          ...          ...          ...
3815        0.158        0.000        0.000        0.000          0.0
510         0.075        0.000        0.000        0.151          0.0
3343        0.147        0.294        0.000        0.000          0.0
4153        0.087        0.000        0.000        0.000          0.0
919         0.112        0.000        0.000        0.168          0.0

      capital_run_length_average  capital_run_length_longest  \
1080                       7.400                          75
1977                       2.361                          26
4173                       1.033                           2
166                        3.768                          61
1682                       2.468                          28
...                          ...                         ...
3815                       1.969                          13
510                        5.086                          33
3343                       1.789                          12
4153                       2.540                          47
919                        1.494                          10

      capital_run_length_total
1080                       629
1977                       562
4173                        31
166                        260
1682                       469
...                        ...
3815                       130
510                        117
3343                        68
4153                        94
919                        139

[3367 rows x 57 columns]
 X Test:       word_freq_make  word_freq_address  word_freq_all  word_freq_3d  \
1157            0.00               0.00           0.00           0.0
157             0.42               0.00           0.00           0.0
2549            0.00               0.00           0.00           0.0
199             0.00               0.54           0.54           0.0
2770            0.00               0.00           0.38           0.0
...              ...                ...            ...           ...
708             0.24               0.00           0.99           0.0
4359            0.00               1.57           1.18           0.0
972             0.00               0.00           0.57           0.0
3973            0.00               0.00           0.00           0.0
2111            0.00               0.00           0.00           0.0

      word_freq_our  word_freq_over  word_freq_remove  word_freq_internet  \
1157           0.00            0.00              0.00                0.00
157            0.85            0.85              0.00                0.00
2549           0.00            0.00              0.00                0.00
199            2.19            0.00              1.09                0.00
2770           0.38            0.00              0.00                0.00
...             ...             ...               ...                 ...
708            0.99            0.00              0.49                0.99
4359           0.00            0.00              0.00                0.00
972            0.28            0.00              0.00                0.57
3973           0.00            0.00              0.00                0.00
2111           0.00            0.00              0.00                0.00

      word_freq_order  word_freq_mail  ...  word_freq_conference  char_freq_;  \
1157              0.0            0.00  ...                   0.0        0.000
157               0.0            0.42  ...                   0.0        0.000
2549              0.0            0.00  ...                   0.0        0.000
199               0.0            0.00  ...                   0.0        0.000
2770              0.0            0.00  ...                   0.0        0.000
...               ...             ...  ...                   ...          ...
708               0.0            0.24  ...                   0.0        0.000
4359              0.0            2.36  ...                   0.0        1.151
972               0.0            0.00  ...                   0.0        0.000
3973              0.0            0.58  ...                   0.0        0.000
2111              0.0            0.00  ...                   0.0        0.000

      char_freq_(  char_freq_[  char_freq_!  char_freq_$  char_freq_#  \
1157        0.000          0.0        0.000        0.000        0.000
157         0.000          0.0        1.088        0.000        0.000
2549        0.344          0.0        0.000        0.000        0.000
199         0.241          0.0        1.045        0.321        0.000
2770        0.414          0.0        0.276        0.000        0.000
...           ...          ...          ...          ...          ...
708         0.179          0.0        0.847        0.077        0.000
4359        0.203          0.0        0.271        0.000        0.067
972         0.047          0.0        1.147        0.191        0.191
3973        0.817          0.0        0.000        0.000        0.000
2111        0.000          0.0        0.000        0.000        0.000

      capital_run_length_average  capital_run_length_longest  \
1157                       4.722                          57
157                        5.714                         107
2549                       1.880                          13
199                        5.047                         140
2770                       1.104                           2
...                          ...                         ...
708                        3.219                         114
4359                       5.689                          30
972                       11.735                         489
3973                       1.640                           5
2111                       4.333                          11

      capital_run_length_total
1157                        85
157                        200
2549                        47
199                        212
2770                        53
...                        ...
708                        499
4359                       330
972                        622
3973                       146
2111                        13

[842 rows x 57 columns]
 Y Train: [1 0 0 ... 0 0 1]
 Y Test: [1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 1 0 0 0 0 0 1 1 0 1 1 1 1 1 0 0 1 1
 0 0 0 0 0 0 0 1 0 0 0 1 1 0 0 0 1 1 0 1 0 1 0 0 0 1 0 0 0 0 0 1 0 1 0 1 0
 1 0 0 1 1 0 1 1 0 0 0 1 1 1 1 1 0 0 0 1 0 0 0 1 1 0 0 0 1 1 0 0 1 0 1 1 0
 1 0 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 0 1 1 1 1 1 1 1 0 1 0 0 1 0 1 1
 1 1 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 0 1 1 0 1 1 0 0 1 1
 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 1 1 1 0 0 0
 0 0 1 0 0 1 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 1 0 1 0 1 0 0 1 0 0 1 0 1 0 0 0
 0 0 0 0 1 0 0 0 1 0 0 1 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 1 0 0 0 1 1
 1 1 1 0 0 0 0 0 1 0 1 1 0 0 1 1 0 1 0 1 0 0 1 1 0 1 1 0 1 0 1 0 0 1 1 0 0
 0 0 0 0 1 1 1 0 1 0 1 1 1 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 1
 0 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0
 0 0 1 0 1 0 0 0 0 1 1 1 0 0 1 0 0 1 1 0 1 1 0 0 1 0 1 1 0 0 0 0 1 0 0 0 1
 0 1 1 1 1 1 1 0 1 1 0 1 1 0 1 0 1 0 0 0 1 0 0 1 0 1 1 0 0 0 1 0 0 1 0 0 1
 1 1 0 0 0 1 1 1 0 1 0 0 1 1 1 0 0 1 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 0
 0 0 0 0 0 1 1 1 0 0 1 1 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 1 1 1 0 1
 0 0 1 0 1 1 1 0 0 0 1 1 1 0 0 0 0 1 0 0 1 1 0 0 1 0 1 0 0 1 0 1 0 0 1 0 1
 1 0 1 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 1 0 1 1 1 1 0 1 0 0 1 0 0 0 0 1
 1 0 0 0 1 0 0 1 1 0 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 1 0 1 0 1 1 0 1 1
 0 1 0 1 1 1 1 0 1 0 0 1 1 0 0 0 0 1 0 1 1 0 0 1 1 1 1 1 1 0 0 1 0 0 0 0 1
 1 0 0 1 1 1 1 0 1 1 1 1 0 0 0 1 1 0 1 1 1 1 0 1 1 0 1 0 0 0 1 0 0 1 1 0 1
 1 0 0 0 1 1 0 0 1 0 1 1 0 1 0 1 1 0 1 1 0 0 1 0 0 1 1 0 0 1 0 0 0 0 1 0 0
 0 0 1 0 0 0 1 1 1 0 1 1 0 0 0 0 1 1 1 1 0 0 0 1 1 1 0 0 1 0 0 0 1 1 0 0 1
 0 1 0 0 0 1 0 1 0 1 0 1 0 0 1 0 0 1 0 0 0 1 0 1 0 1 0 0]

In [19]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [20]:
knn.predict(x_test)[:5]

array([0, 1, 0, 1, 0])

In [21]:
knn.score(x_test, y_test)

0.7731591448931117