<a href="https://colab.research.google.com/github/AbdulSheffa/Spam-email/blob/main/CW_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
import csv

In [4]:
dataset = pd.read_csv('spambase.data')

In [14]:
dataset

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

**Inserting the column names for the data set as per the instructions **

---

In [15]:
dataset.columns = ['word_freq_make','word_freq_address','word_freq_all','word_freq_3d','word_freq_our','word_freq_over','word_freq_remove','word_freq_internet','word_freq_order','word_freq_mail','word_freq_receive','word_freq_will','word_freq_people','word_freq_report','word_freq_addresses','word_freq_free','word_freq_business','word_freq_email','word_freq_you','word_freq_credit','word_freq_your','word_freq_font','word_freq_000','word_freq_money','word_freq_hp','word_freq_hpl','word_freq_george','word_freq_650','word_freq_lab','word_freq_labs','word_freq_telnet','word_freq_857','word_freq_data','word_freq_415','word_freq_85','word_freq_technology','word_freq_1999','word_freq_parts','word_freq_pm','word_freq_direct','word_freq_cs','word_freq_meeting','word_freq_original','word_freq_project','word_freq_re','word_freq_edu','word_freq_table','word_freq_conference','char_freq_;','char_freq_(','char_freq_[','char_freq_!','char_freq_$','char_freq_#','capital_run_length_average','capital_run_length_longest','capital_run_length_total','class']
dataset
# dataset.to_csv('newSet.data',header=columnNames,index=False)

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.000,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4596,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4597,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4598,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4599,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [16]:
dataset.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total,class
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54,1

In [18]:
dataset.shape

(4600, 58)

In [20]:
remove_class_column = dataset.drop(columns=['class'])

In [22]:
remove_class_column.head()

,word_freq_make,word_freq_address,word_freq_all,word_freq_3d,word_freq_our,word_freq_over,word_freq_remove,word_freq_internet,word_freq_order,word_freq_mail,...,word_freq_conference,char_freq_;,char_freq_(,char_freq_[,char_freq_!,char_freq_$,char_freq_#,capital_run_length_average,capital_run_length_longest,capital_run_length_total
0,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
1,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
2,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,1.85,0.00,0.00,1.85,0.00,0.00,...,0.0,0.00,0.223,0.0,0.000,0.000,0.000,3.000,15,54

In [25]:
class_column = dataset['class'].values

class_column[0:67]

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1])

In [28]:
x_train, x_test, y_train, y_test = train_test_split(remove_class_column,class_column, test_size=0.33, random_state=39)
print(f"X Training: {x_train}\n X Test: {x_test}\n Y Train: {y_train}\n Y Test: {y_test}")

X Training:       word_freq_make  word_freq_address  word_freq_all  word_freq_3d  \
346             0.08               0.00           0.08           0.0
4424            0.00               0.00           0.00           0.0
686             0.40               0.18           0.32           0.0
1479            0.17               0.17           0.25           0.0
4545            0.00               0.00           0.00           0.0
...              ...                ...            ...           ...
3195            0.13               0.00           0.20           0.0
2275            0.00               0.00           0.00           0.0
1088            0.34               0.42           0.25           0.0
105             0.00               0.00           0.00           0.0
3465            0.26               0.26           0.00           0.0

      word_freq_our  word_freq_over  word_freq_remove  word_freq_internet  \
346            0.16            0.00              0.00                0.00
4424           0.00            0.00              0.00                0.00
686            0.25            0.18              0.03                1.01
1479           0.43            0.08              0.08                0.08
4545           0.00            0.00              0.00                0.00
...             ...             ...               ...                 ...
3195           0.54            0.13              0.00                0.13
2275           0.00            0.00              0.00                0.00
1088           0.08            0.42              0.08                0.25
105            0.00            0.00              0.00                0.00
3465           0.52            0.26              0.00                0.52

      word_freq_order  word_freq_mail  ...  word_freq_conference  char_freq_;  \
346              0.00            0.00  ...                   0.0        0.000
4424             0.00            0.00  ...                   0.0        0.000
686              0.40            0.40  ...                   0.0        0.012
1479             0.69            2.41  ...                   0.0        0.000
4545             0.00            0.00  ...                   0.0        0.000
...               ...             ...  ...                   ...          ...
3195             0.40            0.00  ...                   0.0        0.009
2275             0.55            0.00  ...                   0.0        0.000
1088             0.08            1.62  ...                   0.0        0.000
105              0.00            0.00  ...                   0.0        0.305
3465             0.00            0.00  ...                   0.0        0.065

      char_freq_(  char_freq_[  char_freq_!  char_freq_$  char_freq_#  \
346         0.228        0.000        0.406        0.038        0.000
4424        0.216        0.000        0.162        0.000        0.054
686         0.042        0.073        0.337        0.141        0.000
1479        0.107        0.000        0.308        0.067        0.026
4545        0.000        0.000        0.000        0.000        0.000
...           ...          ...          ...          ...          ...
3195        0.068        0.000        0.000        0.166        0.000
2275        0.104        0.314        0.000        0.052        0.000
1088        0.065        0.000        0.261        0.294        0.065
105         0.611        0.000        1.529        0.000        0.000
3465        0.000        0.032        0.000        0.000        0.000

      capital_run_length_average  capital_run_length_longest  \
346                        2.811                          67
4424                       5.070                          70
686                        3.305                         181
1479                       4.215                          82
4545                       1.250                           2
...                          ...                         ...
3195                       2.804                          45
2275                       6.894                          97
1088                       3.282                          62
105                        5.500                          22
3465                       1.455                          12

      capital_run_length_total
346                       1254
4424                       289
686                       1613
1479                      1214
4545                         5
...                        ...
3195                       617
2275                       393
1088                       535
105                         66
3465                       115

[3082 rows x 57 columns]
 X Test:       word_freq_make  word_freq_address  word_freq_all  word_freq_3d  \
2328            0.12               0.00           0.12           0.0
335             0.64               0.00           0.64           0.0
1067            0.16               0.00           0.67           0.0
3163            0.13               0.00           0.13           0.0
3755            0.00               0.00           1.10           0.0
...              ...                ...            ...           ...
1515            0.00               0.50           0.00           0.0
1309            0.90               0.00           0.00           0.0
1464            0.00               0.00           0.00           0.0
1063            0.00               0.06           0.20           0.0
1139            0.18               0.00           0.54           0.0

      word_freq_our  word_freq_over  word_freq_remove  word_freq_internet  \
2328           0.00            0.00              0.00                0.00
335            1.93            0.00              0.00                0.00
1067           0.33            0.16              0.33                0.84
3163           0.00            0.00              0.00                0.00
3755           0.00            0.00              0.00                0.00
...             ...             ...               ...                 ...
1515           1.25            0.00              0.00                0.25
1309           0.00            0.00              0.90                0.00
1464           0.00            0.00              0.00                1.21
1063           0.61            0.13              0.00                0.00
1139           1.09            0.18              0.54                0.00

      word_freq_order  word_freq_mail  ...  word_freq_conference  char_freq_;  \
2328             1.12            0.00  ...                   0.0        0.120
335              0.00            0.00  ...                   0.0        0.000
1067             0.16            0.50  ...                   0.0        0.000
3163             0.13            0.13  ...                   0.0        0.014
3755             0.00            0.27  ...                   1.1        0.543
...               ...             ...  ...                   ...          ...
1515             0.00            0.75  ...                   0.0        0.000
1309             0.00            0.00  ...                   0.0        0.000
1464             0.00            0.00  ...                   0.0        0.000
1063             0.75            0.00  ...                   0.0        0.034
1139             0.54            0.54  ...                   0.0        0.000

      char_freq_(  char_freq_[  char_freq_!  char_freq_$  char_freq_#  \
2328        0.189        0.034        0.000        0.034        0.000
335         0.000        0.000        0.462        0.370        0.000
1067        0.224        0.000        1.151        0.056        0.000
3163        0.042        0.000        0.000        0.000        0.183
3755        0.349        0.000        0.000        0.000        0.000
...           ...          ...          ...          ...          ...
1515        0.222        0.095        0.031        0.000        0.000
1309        0.000        0.000        0.564        0.000        0.000
1464        0.000        0.000        0.407        0.000        0.000
1063        0.057        0.000        0.472        0.092        0.023
1139        0.166        0.000        0.249        0.305        0.000

      capital_run_length_average  capital_run_length_longest  \
2328                       3.302                          41
335                        2.440                          22
1067                       4.928                          63
3163                       5.603                          57
3755                       2.724                          79
...                          ...                         ...
1515                       5.500                         114
1309                       2.818                          19
1464                       3.454                          32
1063                       2.086                         104
1139                       3.921                          59

      capital_run_length_total
2328                       535
335                        122
1067                       621
3163                      1160
3755                       316
...                        ...
1515                       616
1309                        62
1464                        76
1063                       703
1139                       447

[1518 rows x 57 columns]
 Y Train: [1 0 1 ... 1 1 0]
 Y Test: [0 1 1 ... 1 1 1]

In [30]:
knn = KNeighborsClassifier(n_neighbors = 5)
knn.fit(x_train,y_train)

KNeighborsClassifier()

In [31]:
knn.predict(x_test)[:5]

array([0, 1, 1, 0, 1])